<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApplicationNamespace.Properties.Settings>
            <setting name="OnColor" serializeAs="String">
                <value>169, 209, 159</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="OpenedColor" serializeAs="String">
                <value>DarkSeaGreen</value>
            </setting>
            <setting name="OpeningColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ClosedColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="ClosingColor" serializeAs="String">
                <value>LightSalmon</value>
            </setting>
            <setting name="UnknownColor" serializeAs="String">
                <value>179, 179, 179</value>
            </setting>
            <setting name="AppBackColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="OffColor" serializeAs="String">
                <value>225, 225, 225</value>
            </setting>
            <setting name="HotColor" serializeAs="String">
                <value>255, 217, 159</value>
            </setting>
            <setting name="WarmColor" serializeAs="String">
                <value>233, 213, 182</value>
            </setting>
            <setting name="ColdColor" serializeAs="String">
                <value>167, 200, 254</value>
            </setting>
            <setting name="CoolColor" serializeAs="String">
                <value>172, 219, 234</value>
            </setting>
            <setting name="HighVacuumColor" serializeAs="String">
                <value>199, 226, 209</value>
            </setting>
            <setting name="VacuumColor" serializeAs="String">
                <value>220, 230, 185</value>
            </setting>
            <setting name="NeutralColor" serializeAs="String">
                <value>221, 221, 221</value>
            </setting>
            <setting name="GaugePressureColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>814, 680</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>255, 255, 160</value>
            </setting>
            <setting name="ClipPressure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClipTemperature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevicePopups" serializeAs="String">
                <value>False</value>
            </setting>
        </ApplicationNamespace.Properties.Settings>
    </userSettings>
</configuration>